@font-face {
  font-family: "AmaticSC";
  src: url("./src/assets/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: none;
  font-family: "AmaticSC", sans-serif;
}

button {
  font-family: "AmaticSC", sans-serif;
}

.main-css {
  position: relative;
  background-color: black;
}
