.image-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.cup-container {
  position: absolute;
  width: 100%;
  height: auto;
}

/* Style par défaut pour l'image */
.image-container .background-image {
  overflow-x: scroll;
  width: 100%;
  height: auto;
  object-position: center;
  position: absolute;
}

.night {
  transform: translate(-1px, 4px);
}

.cup-concert {
  transform: translate(145%, -111%);
  width: 11%;
}

.cup-join {
  transform: translate(645%, 139%);
  width: 11%;
}

.cup-livre {
  transform: translate(392%, -221%);
  width: 11%;
}

.cup-clip {
  transform: translate(319%, -282%);
  width: 11%;
}

.cup-shop {
  transform: translate(665%, -77%);
  width: 11%;
}

.cup-about-l {
  transform: translate(343%, 80%);
  width: 11%;
}

.cup-about-r {
  transform: translate(452%, 78%);
  width: 11%;
}

.cup {
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}
.cup:hover {
  opacity: 1;
}
