.image-wrapper {
  overflow: auto;
}

/* Style par défaut pour l'image */
.image-container background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Pour les très petits écrans (mobiles) */
@media (max-width: 480px) {
  .image-container background {
    height: auto; /* Maintenir les proportions d'origine */
    object-fit: contain; /* S'assurer que l'image entière est visible */
  }
}

/* Pour les petits écrans (tablettes en portrait) */
@media (min-width: 481px) and (max-width: 768px) {
  .image-container background {
    height: 100%;
    object-fit: cover; /* Toujours couvrir, mais ajuster pour la taille de l'écran */
    object-position: top; /* Afficher le haut de l'image, par exemple */
  }
}

/* Pour les écrans moyens (tablettes en paysage, petits laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  .image-container background {
    object-position: center; /* Centrer l'image comme dans le style de base */
  }
}

/* Pour les grands écrans (laptops, desktops) */
@media (min-width: 1025px) {
  .image-container background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Comme dans le style de base */
    object-position: center; /* Centrer */
  }
}
