.bg-album {
  width: 60%;
  margin: 0 auto;
}

.album__img {
  position: absolute;

  animation: fadeIn 2s;
  width: 20%;
  top: 30%;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transition: 1s;
}

.album__img:hover {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
}
.album__img:nth-child(odd) {
  left: 25%;
}

.album__img:nth-child(even) {
  right: 25%;
}

.Shop .album__choice-container {
  z-index: 10; /* z-index supérieur à .empty-bg */
}

.Shop .album__details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.album__details {
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.album__details .detail-img {
  width: 60%;
  margin: 0 auto;
}

.album__navigation {
  top: 0;
  position: absolute;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.album__navigation img {
  width: 10%;
}

.album__navigation div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album__navigation div p {
  margin: 0;

  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
