.active:nth-child(odd) {
  transform: rotate(5deg) translateY(-10px);
  transition: transform 1s;
}

.active:nth-child(even) {
  transform: rotate(-5deg) translateY(-10px);
  transition: transform 1s;
}

.nav-bar a:nth-child(odd):hover {
  transform: rotate(5deg) translateY(-10px);
  transition: transform 1s;
}

.nav-bar a:nth-child(even):hover {
  transform: rotate(-5deg) translateY(-10px);
  transition: transform 1s;
}
